<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fashion Leader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="wrap">
    <!--side bar start-->
    <div class="left">
        <div class="logo">
            <img src="/images/icon/logo.png"> Fashion Leader<br>
        </div>
        <div class="combobox">
            <div class="form-group">
                <label> Gender :</label><br>
                <label class="radio-inline">
                    <input type="radio" value="male" name="gender" id="male">
                    <img src="/images/icon/male.png" alt="icon">
                    <img src="/images/icon/male_select.png" alt="icon">
                </label>
                <label class="radio-inline">
                    <input type="radio" value="female" name="gender" id="female">
                    <img src="/images/icon/femail.png" alt="icon">
                    <img src="/images/icon/fe_select.png" alt="icon">
                </label>
            </div>

            <div class="form-group">
                <label for="loc">Location :</label>
                <input type="text" class="form-control" id="loc">
            </div>
            <div class="form-group">
                <label for="date">Date :</label>
                <input type="date" class="form-control" id="date">
            </div>
            <div class="form-group">
                <label for="Weather">Weather :</label>
                <input type="text" class="form-control" id="Weather" value="흐림" readonly>
            </div>
            <div class="form-group">
                <label for="Temperatures">Temperatures :</label>
                <input type="text" class="form-control" id="Temperatures" value="16°C" readonly>
            </div>
            <div class="form-group">
                <button class="btn btn-default"> 찾기</button>
            </div>
        </div>
        <div class="footer">
            Copyright &copy; 2017 LDJ , PHJ , JKY All rights reserved.
        </div>
    </div>
    <!--side bar end -->

    <!--content box start-->
    <div class="content">
        <div class="card">
            <img src="/images/KakaoTalk_2017-10-12-10-42-35_Photo_9.jpeg" alt="product">
            <div class="info">
                <div class="title">
                    무지루즈핏셔츠
                </div>
                <br>
                종류:셔츠<br>
                가격:21000원
            </div>
        </div>
        <div class="card">
            <img src="/images/KakaoTalk_2017-10-12-10-42-32_Photo_98.jpeg" alt="product">
            <div class="info">
                <div class="title">
                    title
                </div>
                <br>
                종류<br>
                가격<br>
            </div>
        </div>
        <div class="card">
            <img src="/images/KakaoTalk_2017-10-12-10-42-37_Photo_36.jpeg" alt="product">
            <div class="info">
                <div class="title">
                    루즈핏 롱체크자켓남방101
                </div>
                <br>
                종류:남방<br>
                가격:37000원<br>
            </div>
        </div>
        <div class="card">
            <img src="/images/KakaoTalk_2017-10-12-10-42-44_Photo_44.jpeg" alt="product">
            <div class="info">
                <div class="title">
                    무지루즈핏셔츠
                </div>
                <br>
                종류:셔츠<br>
                가격:21000원
            </div>
        </div>
        <div class="card">
            <img src="/images/KakaoTalk_2017-10-12-10-42-47_Photo_74.jpeg" alt="product">
            <div class="info">
                <div class="title">
                    무지루즈핏셔츠
                </div>
                <br>
                종류:셔츠<br>
                가격:21000원
            </div>
        </div>
    </div>
    <%= temp %>
    <!--content box end-->
</div>
<script>
</script>
</body>
</html>
