<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>

<body>
	<div class="wrap">
		<div class="left">
			<div class="logo">
				<img src="logo.png"> Fashion leader<br>
			</div>
			<div class="combobox">
				<div class="form-group">
					<label> Gender :</label><br>
					<label class="radio-inline"><input type="radio" value="" name="gender">남자</label>
					<label class="radio-inline"><input type="radio" value="" name="gender">여자</label>
				</div>
				
				<div class="form-group">
					<label for="loc">Location :</label>
				  	<input type="text" class="form-control" id="loc">
				</div>
				<div class="form-group">
					<label for="date">Date :</label>
				  	<input type="date" class="form-control" id="date">
				</div>
				<div class="form-group">
					<label for="Weather">Weather :</label>
				  	<input type="text" class="form-control" id="Weather" value="흐림" readonly>
				</div>
				<div class="form-group">
					<label for="Temperatures">Temperatures :</label>
				  	<input type="text" class="form-control" id="Temperatures" value="16C" readonly>
				</div>
				<div class="form-group">
					<button class="btn btn-default"> 찾기 </button>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="card">
				<img src="image/KakaoTalk_2017-10-12-10-42-32_Photo_98.jpeg">
				<div class="info">
					<div class="title">
						title
					</div><br>
					종류<br>
					가격<br>
				</div>
			</div>
			<div class="card">
				<img src="image/KakaoTalk_2017-10-12-10-42-35_Photo_9.jpeg">
				<div class="info">
					<div class="title">
						title
					</div><br>
					종류<br>
					가격<br>
				</div>
			</div>
			<div class="card">
				<img src="image/KakaoTalk_2017-10-12-10-42-32_Photo_98.jpeg">
				<div class="info">
					<div class="title">
						title
					</div><br>
					종류<br>
					가격<br>
				</div>
			</div>
		</div>
	</div>
	<script>
	</script>
</body>
</html>