<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fashion Leader</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
    $(function() {
      $('#bt_call').click(function() {
        $.ajax({
          type : "GET",
          url : "/clothes",
          error : function() {
            alert('통신실패!!');
          },
          success : function(data) {
            alert(data);
            $("pre > code").html(data);
          }
        });
      });
    });
    </script>
  </head>
  <body>
    <input type="button" value="API 호출" id="bt_call">
    <pre>
      <code></code>
    </pre>
  </body>
</html>
